<html xmlns="http://www.w3.org/1999/xhtml" content="text/html;">
<head>
    <title>Добавление клиента</title>
</head>
<body>
<div class="top">
    <br/>
    <form action="client" method="post">
        <label>
            name <br/>
            <input type="text" name="name" value="name">
        </label>
        <br/>
        <label>
            address <br/>
            <input type="text" name="address" value="parallel">
        </label>
        <br/>
        <label>
            phone <br/>
            <input type="text" name="phone" value="mts">
        </label>
        <br/>
        <label>
            additional phone <br/>
            <input type="text" name="additionalPhone" value="beeline">
        </label>
        <br/><br/>
        <input type="submit" value="Создать">
    </form>
</div>
</body>
</html>