<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Пользователи</title>
</head>

<body>
<a href="clients/addClient">Добавить клиента</a>
<h4>Список клиентов</h4>
<table style="width: 400px">
    <tbody>
    <thead>
    <tr>
        <td style="width: 150px">Имя</td>
        <td style="width: 100px">Адресс</td>
    </tr>
    </thead>
    <#list allClients as client>
    <tr>
        <td>------------<br/>${client.name}</td>
        <td>${client.address}</td>
        <#list client.phones as phone>
            <tr>
            <td>телефон:${phone.number}</p></td>
            </tr>

        </#list>

    </tr>
    </#list>
    </tbody>
</table>

</body>
</html>
