<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Создание клиента</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>

</head>
<body>

<form id="create-form" th:action="@{/clients/saveClient}" th:object="${client}" th:method="post" accept-charset="utf-8">
    <h1>Новый клиент:</h1>

    <div class="row">
        <label for="clientName">Имя:</label>
        <input id="clientName" name="name" type="text" th:value="${client.name}" value="User"/>
        <br/>
        <label for="clientAddress">Адрес:</label>
        <input id="clientAddress" name="address" type="text" th:value="${address.address}" value="parallel"/>
        <br/>
        <label for="clientPhone1">Телефон 1:</label>
        <input id="clientPhone1" name="phone" type="text" th:value="${phone.phone}" value="beeline"/>
        <br/>
        <label for="clientPhone2">Телефон 2:</label>
        <input id="clientPhone2" name="phone" type="text" th:value="${phone.phone}" value="mts"/>
    </div>

    <div class="row">
        <button type="submit">Сохранить</button>
<!--        <button type="button" onclick="saveClient()">Save with REST</button>-->
    </div>
</form>
<pre id = "clientDataContainer"></pre>

</body>
</html>
